/* TODO: add any application specific styling here */
#mediaReadview img{
    width: 100%;
    max-width: 100%;
}

fieldset.mwf-radiogroup {
    padding: inherit;
    border: 1px solid rgb(120,120,120);
}

fieldset.mwf-radiogroup {
    margin-top: 15px;
    padding: 0px;
    border: none;
}

fieldset.mwf-radiogroup * {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

fieldset.mwf-radiogroup  input[type=radio] {
    display: inline-block;
    margin-right: 7px;
    width: auto;
}

fieldset.mwf-radiogroup input[type=radio]:not(:first-of-type) {
    margin-left: 15px;
}

fieldset.mwf-radiogroup label {
    display: inline-block !important;
    vertical-align: middle !important;
}

