/* TODO: add any application specific styling here */
#mediaReadview img{
    width: 100%;
    max-width: 100%;
}
fieldset.mwf-radiogroup {
    padding: inherit;
    border: 1px solid rgb(120,120,120);
}