/* TODO: add any application specific styling here */
.mediaReadview img {
    /*    width: 100%;*/
    max-width: 100%;
}

video {
    /*    width: 100%;*/
    max-width: 100%;
}

.previewimg {
    padding: inherit;
}

fieldset.mwf-radiogroup {
    padding: inherit;
    border: 1px solid rgb(120, 120, 120);
}

input[type=radio] {
    width: auto;
    height: auto;
}

.mwf-li-titleblock h2 {
    white-space: nowrap;
    overflow: scroll;
}

#previmg1, #previmg2, #prevvideo1, #prevvideo2 {
    max-width: 100%;
}

li video {
    width: 50px;
    max-height: 50px;
    margin: 0;
    padding: 0;
}

#videoDiv {
    display: inline-block;
    position: relative;
}

#overlayPlay {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 60%;
    margin-left: 3px;
    background: url("../lib/css/img/glyphicons/png/glyphicons-221-play-button.png");
    background-repeat: no-repeat;
    background-size: 65%;
    width: 26px;
    height: 26px;
    padding: 0;
}